@model ForRefugees.Models.Refugiado

@{
    ViewData["Title"] = "Create";
}

<h3 class="ml-3">Novo Cadastro</h3>
<div class="ml-3 mt-2">
    <a asp-action="Index" class="btn btn-secondary mb-4">Voltar</a>
</div>

<h6 class="ml-3">Preencha os campos abaixo para cadastro:</h6>

<section class="container-fluid">
    <hr />
<div class="row">
    <div class="col-md-4 m-auto mt-3 mb-3">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="card mb-4 shadow-sm bg-white rounded">
                <div class="card-header text-center">
                    Dados Pessoais
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="Nome" class="control-label"></label>
                        <input asp-for="Nome" class="form-control" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cpf" class="control-label"></label>
                        <input asp-for="Cpf" class="form-control" />
                        <span asp-validation-for="Cpf" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DataNascimento" class="control-label"></label>
                        <input asp-for="DataNascimento" type="date" min="1910-01-01" class="form-control" id="dataNascimento" onChange="teste()"/>
                        <span asp-validation-for="DataNascimento" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Nacionalidade" class="control-label"></label>
                        <input asp-for="Nacionalidade" class="form-control" />
                        <span asp-validation-for="Nacionalidade" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="card mb-4 shadow-sm bg-white rounded">
                <div class="card-header text-center">Endereço</div>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="Endereco" class="control-label"></label>
                        <input asp-for="Endereco" class="form-control" />
                        <span asp-validation-for="Endereco" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Bairro" class="control-label"></label>
                        <input asp-for="Bairro" class="form-control" />
                        <span asp-validation-for="Bairro" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cidade" class="control-label"></label>
                        <input asp-for="Cidade" class="form-control" />
                        <span asp-validation-for="Cidade" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Estado" class="control-label"></label>
                        <input asp-for="Estado" class="form-control" />
                        <span asp-validation-for="Estado" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="card mb-4 shadow-sm bg-white rounded">
                <div class="card-header text-center">Contato</div>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="Profissao" class="control-label"></label>
                        <input asp-for="Profissao" class="form-control" />
                        <span asp-validation-for="Profissao" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Telefone" class="control-label"></label>
                        <input asp-for="Telefone" class="form-control" />
                        <span asp-validation-for="Telefone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ValorHora" class="control-label"></label>
                        <input asp-for="ValorHora" class="form-control" />
                        <span asp-validation-for="ValorHora" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Bio" class="control-label"></label>                        
                        <textarea asp-for="Bio" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="Bio" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
				<input type="submit" value="Criar" class="btn btn-primary" id="botao"/>
			</div>
        </form>
    </div>
</div>
</section>


<script>
    document.getElementById("botao").disabled = true;
    const anoHoje = new Date();
    function teste() {
        var data = document.getElementById("dataNascimento").valueAsDate;
        var ano = data.getUTCFullYear();
        var idade = anoHoje.getFullYear() - ano

        if(idade <= 18){
            document.getElementById("dataNascimento").style.border = "thin solid red";
            document.getElementById("dataNascimento").focus();

        }else {
            document.getElementById("dataNascimento").style.border = "1px solid #ced4da";
            document.getElementById("botao").disabled = false;
        }

    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
