@{
    ViewData["Title"] = "Obrigado pelo contato";
}
<h1 class="ml-3">@ViewData["Title"]</h1>

<link href="~/css/Index.css" rel="stylesheet"/>


<section class="container section-index mt-5 d-flex align-items-center justify-content-center flex-column">
    <h4 class="mb-5">Obrigado pelo contato, entraremos em contato em breve!<h4/>
    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Retornar à Home</a>
</section>
