@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/Home.css" rel="stylesheet"/>
<link href="~/assets/slick-1.8.1/slick/slick.css" rel="stylesheet"/>


<section class="video-principal">
    <video autoplay muted loop id="myVideo">
        <source src="./assets/video/pexels-diva-plavalaguna-6192775.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
    <div id="slogan">
        <p data-aos="fade-up" data-aos-duration="3000">For Refuguees</p>
        <p data-aos="fade-up" data-aos-duration="3000">"Juntos podemos mudar vidas, podemos mudar o mundo para melhor"</p>
    </div>
</section>
<h2 id="moveTo-servicos">Nossos Serviços</h2>
<section class="center slider">
    <div class="galeria">
        <div>
            <figure>
                <img src="assets/icons/Icones/translator.png">
                <figcaption>Tradutores</figcaption>
            </figure>

        </div>
        <div>
            <figure>
                <img src="assets/icons/Icones/programador.png">
                <figcaption>Programador</figcaption>
            </figure>
        </div>
        <div>
            <figure>
                <img src="assets/icons/Icones/professor.png">
                <figcaption>Professor</figcaption>
            </figure>
        </div>
        <div>
            <figure>
                <img src="assets/icons/Icones/passarela.png">
                <figcaption>Modelos</figcaption>
            </figure>
        </div>
        <div>
            <figure>
                <img src="assets/icons/Icones/marketing-de-midia-social.png">
                <figcaption>Marketing de midia social</figcaption>
            </figure>
        </div>
        <div>
            <figure><img src="./assets/icons/Icones/design-de-arte.png"></figure>
            <figcaption>Design de arte</figcaption>
        </div>
        <div>
            <figure>
                <img src="./assets/icons/Icones/construir.png">
                <figcaption>Artesão</figcaption>
            </figure>
        </div>
        <div>
            <figure>
                <img src="./assets/icons/Icones/advogado.png">
                <figcaption>Advogado</figcaption>
            </figure>
        </div>

    </div>
</section>
<section class="" id="sec-sobre">
    <h2 id="moveTo-sobre">Sobre</h2>
    <div data-aos="fade-right" data-aos-duration="1000" class="informativo">
        <div><img src="./assets/img/logos/logo-large.png" alt=""></div>
        <div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi odio eos veniam! Quia commodi perferendis animi aperiam saepe! Odit, blanditiis sapiente nam laborum dolore asperiores voluptate at dolorem incidunt et consequatur eaque minima! Recusandae libero esse repellat ex, nihil dolor. Aliquam ut doloremque delectus, ab expedita deserunt veritatis sequi dolor?</p>
        </div>
    </div>
    <div data-aos="fade-right" data-aos-duration="1000" class="informativo2">
        <div><img src="./assets/icons/Icones/RECODE.png" alt=""></div>
        <div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi odio eos veniam! Quia commodi perferendis animi aperiam saepe! Odit, blanditiis sapiente nam laborum dolore asperiores voluptate at dolorem incidunt et consequatur eaque minima! Recusandae libero esse repellat ex, nihil dolor. Aliquam ut doloremque delectus, ab expedita deserunt veritatis sequi dolor?</p>
        </div>
    </div>
</section>
<h2>Nossos Parceiros</h2>
<p>[ aqui pode ir uma imagem mesmo ou outro tipo de elemento para não atraplhar a responsividade]</p>
<!-- <section class="container-flex sec-parceiros grid grid-template-columns">
    <div class="item">1</div>
    <div class="item">2</div>
    <div class="item">3</div>
    <div class="item">4</div>
    <div class="item">5</div>
    <div class="item">6</div>
</section> -->
<h2 id="moveTo-contato">Contato</h2>
<section id="sec-contato">
    <div id="contato">
        <form class="container">
            <div class="form-group">
                <label for="exampleInputEmail1">Nome</label>
                <input type="text" class="form-control" id="exampleInputNome1" aria-describedby="nomeHelp" placeholder="Digite seu nome completo.">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Informe seu melhor email.">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Assunto</label>
                <input type="text" class="form-control" placeholder="Ex: Suporte ou Dúvidas">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Mensagem </label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" placeholder="Digite sua mensagem aqui..."></textarea>
            </div>
            <button type="submit" class="btn-principal">Enviar</button>
        </form>
    </div>

</section>