@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
<link href="~/css/Home.css" rel="stylesheet"/>
<link href="~/assets/slick-1.8.1/slick/slick.css" rel="stylesheet"/>


<section class="video-principal">
    <video autoplay muted loop id="myVideo">
        <source src="./assets/video/pexels-diva-plavalaguna-6192775.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
    <div id="slogan">
        <p data-aos="fade-up" data-aos-duration="3000">For Refuguees</p>
        <p data-aos="fade-up" data-aos-duration="3000">"Juntos podemos mudar vidas, podemos mudar o mundo para melhor"</p>
    </div>
</section>
<h2 id="moveTo-servicos">Nossos Serviços</h2>
<section class="center slider">
    <div class="galeria">
        <div>
            <figure>
                <img src="assets/icons/Icones/translator.png">
                <figcaption>Tradutores</figcaption>
            </figure>

        </div>
        <div>
            <figure>
                <img src="assets/icons/Icones/programador.png">
                <figcaption>Programador</figcaption>
            </figure>
        </div>
        <div>
            <figure>
                <img src="assets/icons/Icones/professor.png">
                <figcaption>Professor</figcaption>
            </figure>
        </div>
        <div>
            <figure>
                <img src="assets/icons/Icones/passarela.png">
                <figcaption>Modelos</figcaption>
            </figure>
        </div>
        <div>
            <figure>
                <img src="assets/icons/Icones/marketing-de-midia-social.png">
                <figcaption>Marketing de midia social</figcaption>
            </figure>
        </div>
        <div>
            <figure><img src="./assets/icons/Icones/design-de-arte.png"></figure>
            <figcaption>Design de arte</figcaption>
        </div>
        <div>
            <figure>
                <img src="./assets/icons/Icones/construir.png">
                <figcaption>Artesão</figcaption>
            </figure>
        </div>
        <div>
            <figure>
                <img src="./assets/icons/Icones/advogado.png">
                <figcaption>Advogado</figcaption>
            </figure>
        </div>

    </div>
</section>

<h2 id="moveTo-sobre">Sobre</h2>
<section class="" id="sec-sobre">
    <div data-aos="fade-right" data-aos-duration="1000" class="informativo">
        <div><img src="./assets/img/logos/logo-large.png" alt=""></div>
        <div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi odio eos veniam! Quia commodi perferendis animi aperiam saepe! Odit, blanditiis sapiente nam laborum dolore asperiores voluptate at dolorem incidunt et consequatur eaque minima! Recusandae libero esse repellat ex, nihil dolor. Aliquam ut doloremque delectus, ab expedita deserunt veritatis sequi dolor?</p>
        </div>
    </div>
    <div data-aos="fade-right" data-aos-duration="1000" class="informativo2">
        <div><img src="./assets/icons/Icones/RECODE.png" alt=""></div>
        <div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi odio eos veniam! Quia commodi perferendis animi aperiam saepe! Odit, blanditiis sapiente nam laborum dolore asperiores voluptate at dolorem incidunt et consequatur eaque minima! Recusandae libero esse repellat ex, nihil dolor. Aliquam ut doloremque delectus, ab expedita deserunt veritatis sequi dolor?</p>
        </div>
    </div>
</section>

<section class="container-flex">
    <h2>Nossos Parceiros</h2>
<div class="sec-parceiros container">
     <div class="card-container">
       <div class="card-img">
          <img src="~/assets/img/fotos-integrantes/rafael.jpg">
       </div>
       <div class="card-title">
          <h4>Rafael Moura</h4>
          <p>Estudante Recode PRO 2021</p>
       </div>
       <div class="card-info">
          <p>
             Natural de Recife, PE. Formado em Análise e Desenvolvimento de Sistema pela Universidade Estácio de Sá. Atualmente atuando como Analista de Back-Office.
          </p>
       </div>
       <div class="card-social">
          <a href="#">
              <i class="fab fa-github"></i>
          </a>
          <a href="#">
              <i class="fab fa-linkedin"></i>
          </a>
          <a href="#">
              <i class="fab fa-instagram"></i>
          </a>
       </div>
    </div>
    <div class="card-container">
       <div class="card-img">
          <img src="~/assets/img/fotos-integrantes/rosana.jpeg">
       </div>
       <div class="card-title">
          <h4>Rosana Lopes</h4>
          <p>Estudante Recode PRO 2021</p>
       </div>
       <div class="card-info">
          <p>
             Natural de São Paulo (SP), Formada em Técnico de Contabilidade, mãe de Gatos, Apaixonada pela garoa gelada da Cidade Cinza e longas conversas. Aprendiz de Programadora.
          </p>
       </div>
       <div class="card-social">
          <a href="https://github.com/RosanaRodriguesLopes">
              <i class="fab fa-github"></i>
          </a>
          <a href="https://www.linkedin.com/in/rosana-lopes/">
              <i class="fab fa-linkedin"></i>
          </a>
          <a href="https://www.instagram.com/rosanalope_/">
              <i class="fab fa-instagram"></i>
          </a>
       </div>
    </div>
    <div class="card-container">
       <div class="card-img">
          <img src="~/assets/img/fotos-integrantes/naassom.png">
       </div>
       <div class="card-title">
          <h4>Naassom Pedro</h4>
          <p>Estudante Recode PRO 2021</p>
       </div>
       <div class="card-info">
          <p>
             Natural de São Paulo, SP. Atualmente estuda desenvolvimento de aplicações web. E no momento atua como técnico de manutenção predial.
          </p>
       </div>
       <div class="card-social">
          <a href="https://github.com/naassom-pedro/naassom-pedro">
              <i class="fab fa-github"></i>
          </a>
          <a href="https://www.linkedin.com/in/naassom-pedro-4aa00995/">
              <i class="fab fa-linkedin"></i>
          </a>
       </div>
    </div>
    <div class="card-container">
       <div class="card-img">
          <img src="~/assets/img/fotos-integrantes/janilson.png">
       </div>
       <div class="card-title">
          <h4>Janilson Coimbra</h4>
          <p>Estudante Recode PRO 2021</p>
       </div>
       <div class="card-info">
          <p>
             Natural de Salvador-BA, Estudante de desenvolvimento de sistemas Web FullStack, gosto muito da área tecnológica e destrinchar seus conceitos.
          </p>
       </div>
       <div class="card-social">
          <a href="#">
              <i class="fab fa-github"></i>
          </a>
          <a href="#">
              <i class="fab fa-linkedin"></i>
          </a>
          <a href="#">
              <i class="fab fa-instagram"></i>
          </a>
       </div>
    </div>
    <div class="card-container">
       <div class="card-img">
          <img src="~/assets/img/fotos-integrantes/rosana.jpeg">
       </div>
       <div class="card-title">
          <h4>Rosana Lopes</h4>
          <p>Estudante Recode PRO 2021</p>
       </div>
       <div class="card-info">
          <p>
             Natural de São Paulo (SP), Formada em Técnico de Contabilidade, mãe de Gatos, Apaixonada pela garoa gelada da Cidade Cinza e longas conversas. Aprendiz de Programadora.
          </p>
       </div>
       <div class="card-social">
          <a href="#">
              <i class="fab fa-github"></i>
          </a>
          <a href="#">
              <i class="fab fa-linkedin"></i>
          </a>
          <a href="#">
              <i class="fab fa-instagram"></i>
          </a>
       </div>
    </div>
    <div class="card-container">
       <div class="card-img">
          <img src="~/assets/img/fotos-integrantes/eliane.jpg">
       </div>
       <div class="card-title">
          <h4>Eliane SP Silva</h4>
          <p>Estudante Recode PRO 2021</p>
       </div>
       <div class="card-info">
          <p>
             Natural de São Paulo (SP), Formada em Técnico de Contabilidade, mãe de Gatos, Apaixonada pela garoa gelada da Cidade Cinza e longas conversas. Aprendiz de Programadora.
          </p>
       </div>
       <div class="card-social">
          <a href="#">
              <i class="fab fa-github"></i>
          </a>
          <a href="#">
              <i class="fab fa-linkedin"></i>
          </a>
          <a href="#">
              <i class="fab fa-instagram"></i>
          </a>
       </div>
    </div>
</div>

</section>
<h2 id="moveTo-contato">Contato</h2>
<section id="sec-contato">
    <div id="contato">
        <form class="container">
            <div class="form-group">
                <label for="exampleInputEmail1">Nome</label>
                <input type="text" class="form-control" id="exampleInputNome1" aria-describedby="nomeHelp" placeholder="Digite seu nome completo.">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Informe seu melhor email.">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Assunto</label>
                <input type="text" class="form-control" placeholder="Ex: Suporte ou Dúvidas">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Mensagem </label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" placeholder="Digite sua mensagem aqui..."></textarea>
            </div>
            <button type="submit" class="btn-principal">Enviar</button>
        </form>
    </div>
</section>