@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
<link href="~/css/Home.css" rel="stylesheet"/>
<link href="~/assets/slick-1.8.1/slick/slick.css" rel="stylesheet"/>


<section class="video-principal">
    <video autoplay muted loop id="myVideo">
        <source src="./assets/video/pexels-diva-plavalaguna-6192775.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
    <div id="slogan" >
        <p data-aos="fade-up" data-aos-duration="3000">For Refugees</p>
        <p data-aos="fade-up" data-aos-duration="3000">"Juntos vamos mais longe!"</p>
    </div>
</section>
<h2 id="moveTo-servicos">Nossos Serviços</h2>
<section class="center slider">
    <div class="galeria">
        <div>
            <figure class="ms-5">
                <div class="card card-home">
                  <div class="card-body">                 
                    <p class="card-text text-center" style="font-size: 20px">Tradutor</p>
                  </div>
                </div>
            </figure>

        </div>
        <div>
            <figure>
                <div class="card card-home">
                  <div class="card-body">                 
                    <p class="card-text text-center" style="font-size: 20px">Programador</p>
                  </div>
                </div>
            </figure>
        </div>
        <div>
            <figure>
                <div class="card card-home">
                  <div class="card-body">                 
                    <p class="card-text text-center" style="font-size: 20px">Professor</p>
                  </div>
                </div>
            </figure>
        </div>
        <div>
            <figure>
                <div class="card card-home">
                  <div class="card-body">                 
                    <p class="card-text text-center" style="font-size: 20px">Artesão</p>
                  </div>
                </div>
            </figure>
        </div>
        <div>
            <figure>
                <div class="card card-home">
                  <div class="card-body">                 
                    <p class="card-text text-center" style="font-size: 20px">Fotografo</p>
                  </div>
                </div>
            </figure>
        </div>
        <div>
            <figure>
                <div class="card card-home"> 
                  <div class="card-body">                 
                    <p class="card-text text-center" style="font-size: 20px">Advogado</p>
                  </div>
                </div>
            </figure>
        </div>
        <div>
            <figure>
                <div class="card card-home">
                  <div class="card-body">                 
                    <p class="card-text text-center" style="font-size: 20px">Modelo</p>
                  </div>
                </div>
            </figure>
        </div>
        <div class="me-5">
            <figure>
                <div class="card card-home">
                  <div class="card-body">                 
                    <p class="card-text text-center" style="font-size: 20px">Vendedor</p>
                  </div>
                </div>
            </figure>
        </div>

    </div>
</section>

<h2 id="moveTo-sobre">Sobre</h2>
<section class="" id="sec-sobre">
    <div data-aos="fade-right" data-aos-duration="1000" class="informativo">
        <div><img src="./assets/img/logos/logo-large.png" alt=""></div>
        <div>
            <p>A 4Refugees nasceu da necessidade de criar uma aplicação que impacte verdadeiramente e de forma eficiênte a vida dos refugiados em relação ao mercado de trabalho, conectando eles com as vagas de emprego Ofertadas por empresas que abraçam a causa, acreditamos que juntos podemos ajudar a transformar a realidade de muitas pessoas.</p>
        </div>
    </div>
    <div data-aos="fade-right" data-aos-duration="1000" class="informativo2">
        <div><img src="~/assets/img/logos/squad29_logo.png" alt=""></div>
        <div>
            <p>Squad 29 (Refugiados) é composta por 6 integrantes que passaram pelo processo seletivo para participarem do Recode Pro, um programa que visa a formação e a empregabilidade de pessoas de 18 a 39 anos, em situação de maior vulnerabilidade social, como programadores FULL STACK. Além do conteúdo técnico, são desenvolvidos temas como criatividade, comunicação, atuação profissional, e a metodologia proposta se baseia na colaboração e na construção de projetos para a resolução de problemas sociais.</p>
        </div>
    </div>
    <div data-aos="fade-right" data-aos-duration="1000" class="informativo">
        <div><img src="~/assets/icons/Icones/RECODE.png" alt=""></div>
        <div>
            <p>Fundada há mais de 26 anos por Rodrigo Baggio e presente em 9 países, a Recode já atingiu mais de 1.8 milhão de pessoas. A Recode oferece metodologia para desenvolver nos jovens habilidades digitais e competências socioeconômica, estimula o protagonismo e o potencial da nova geração como agentes de transformação social, tendo como desafio ampliar oportunidades de pessoas em situação de vulnerabilidade social por meio do uso qualificado e consciente da tecnologia.</p>
        </div>
    </div>
</section>

<section class="container-fluid mb-4">
    <h2>Colaboradores</h2>
<div class="sec-parceiros container">
     <div class="card-container">
       <div class="card-img">
          <img src="~/assets/img/fotos-integrantes/rafael.jpg">
       </div>
       <div class="card-title">
          <h4>Rafael Moura</h4>
          <p>Estudante Recode PRO 2021</p>
       </div>
       <div class="card-info">
          <p>
             Natural de Recife, PE. Formado em Análise e Desenvolvimento de Sistema pela Universidade Estácio de Sá. Atualmente atuando como Analista de Back-Office.
          </p>
       </div>
       <div class="card-social">
          <a href="https://github.com/Rafa-Moura" target="_blank">
              <i class="fab fa-github"></i>
          </a>
          <a href="https://www.linkedin.com/in/rafael-moura-a0111411b/" target="_blank">
              <i class="fab fa-linkedin"></i>
          </a>
          <a href="https://www.instagram.com/mourarafaell/" target="_blank">
              <i class="fab fa-instagram"></i>
          </a>
       </div>
    </div>
    <div class="card-container">
       <div class="card-img">
          <img src="~/assets/img/fotos-integrantes/giulia.jpeg">
       </div>
       <div class="card-title">
          <h4>Giulia Lima</h4>
          <p>Estudante Recode PRO 2021</p>
       </div>
       <div class="card-info">
           <p>
               Programadora full stack em formação pela Recode, estudante de engenharia da computação pela UTFPR, meu objetivo é desenvolver soluções para área da saúde.
           </p>
       </div>
       <div class="card-social">
           <a href="https://github.com/Gi-LD" target="_blank">
               <i class="fab fa-github"></i>
           </a>
           <a href="https://www.instagram.com/duartx.jpg/" target="_blank">
               <i class="fab fa-instagram"></i>
           </a>
       </div>
    </div>
    <div class="card-container">
       <div class="card-img">
          <img src="~/assets/img/fotos-integrantes/naassom.png">
       </div>
       <div class="card-title">
          <h4>Naassom Pedro</h4>
          <p>Estudante Recode PRO 2021</p>
       </div>
       <div class="card-info">
          <p>
             Natural de São Paulo, SP. Atualmente estuda desenvolvimento de aplicações web. E no momento atua como técnico de manutenção predial.
          </p>
       </div>
       <div class="card-social">
          <a href="https://github.com/naassom-pedro/naassom-pedro" target="_blank">
              <i class="fab fa-github"></i>
          </a>
          <a href="https://www.linkedin.com/in/naassom-pedro-4aa00995/" target="_blank">
              <i class="fab fa-linkedin"></i>
          </a>
       </div>
    </div>
    <div class="card-container">
       <div class="card-img">
          <img src="~/assets/img/fotos-integrantes/janilson.png">
       </div>
       <div class="card-title">
          <h4>Janilson Coimbra</h4>
          <p>Estudante Recode PRO 2021</p>
       </div>
       <div class="card-info">
          <p>
             Natural de Salvador-BA, Estudante de desenvolvimento de sistemas Web FullStack, gosto muito da área tecnológica e destrinchar seus conceitos.
          </p>
       </div>
       <div class="card-social">
          <a href="https://github.com/JanilsonCoimbra" target="_blank">
              <i class="fab fa-github"></i>
          </a>
          <a href="https://www.linkedin.com/in/janilson-coimbra-780761209/" target="_blank">
              <i class="fab fa-linkedin"></i>
          </a>
          <a href="https://www.instagram.com/janilsoncoimbra/" target="_blank">
              <i class="fab fa-instagram"></i>
          </a>
       </div>
    </div>
    <div class="card-container">
       <div class="card-img">
          <img src="~/assets/img/fotos-integrantes/rosana.jpeg">
       </div>
       <div class="card-title">
          <h4>Rosana Lopes</h4>
          <p>Estudante Recode PRO 2021</p>
       </div>
       <div class="card-info">
          <p>
             Natural de São Paulo SP, Formada em Técnico de Contabilidade, Mãe de Gatos, Apaixonada por Tecnologia e longas conversas. Aprendiz de Programadora =)
          </p>
       </div>
       <div class="card-social">
          <a href="https://github.com/RosanaRodriguesLopes" target="_blank">
              <i class="fab fa-github"></i>
          </a>
          <a href="https://www.linkedin.com/in/rosana-lopes/" target="_blank">
              <i class="fab fa-linkedin"></i>
          </a>
          <a href="https://www.instagram.com/rosanalope_/" target="_blank">
              <i class="fab fa-instagram"></i>
          </a>
       </div>
    </div>
    <div class="card-container">
       <div class="card-img">
          <img src="~/assets/img/fotos-integrantes/eliane.jpg">
       </div>
       <div class="card-title">
          <h4>Eliane SP Silva</h4>
          <p>Estudante Recode PRO 2021</p>
       </div>
       <div class="card-info">
           <p>
               Natural de São Paulo, SP. Mais de Sete anos de experiência na área Financeira. Em transição de carreira. Formada em Administração pela PUC/SP e apaixonada por Tecnologia.
           </p>
       </div>
       <div class="card-social">
          <a href="https://github.com/eliane-sp-silva" target="_blank">
              <i class="fab fa-github"></i>
          </a>
          <a href="https://www.linkedin.com/in/eliane-dos-santos-pereira-silva-4a772026/" target="_blank">
              <i class="fab fa-linkedin"></i>
          </a>
          <a href="https://www.instagram.com/elianespsilva/" target="_blank">
              <i class="fab fa-instagram"></i>
          </a>
       </div>
    </div>
</div>

</section>