tr{
    width: 100%;
    margin-top: 20px;
    width: 100%;
}
tr td{
    text-align: justify;
    width: 100%;
}
p{
    font-size: 12px !important;
}
.dataTables_wrapper {
    width: 100%;
}


.section-index {
    min-height: 50vh;
}

.card-title {
    font-size: 1rem;
    margin: 5px 0 5px 0 !important;
}