<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ForRefugees</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="shortcut icon" href="~/assets/img/logos/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="~/assets/slick-1.8.1/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="~/assets/slick-1.8.1/slick/slick-theme.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Home.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-dark">
            <a class="navbar-brand size-logo" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/assets/img/logos/logo-large.png" alt="Logotipo For Refugees"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <!-- GTranslate: https://gtranslate.io/ -->

                        <style type="text/css">

                            a.gflag {
                                vertical-align: middle;
                                font-size: 16px;
                                padding: 1px 0;
                                background-repeat: no-repeat;
                                background-image: url(//gtranslate.net/flags/16.png);
                            }

                                a.gflag img {
                                    border: 0;
                                }

                                a.gflag:hover {
                                    background-image: url(//gtranslate.net/flags/16a.png);
                                }

                            #goog-gt-tt {
                                display: none !important;
                            }

                            .goog-te-banner-frame {
                                display: none !important;
                            }

                            .goog-te-menu-value:hover {
                                text-decoration: none !important;
                            }

                            body {
                                top: 0 !important;
                            }

                            #google_translate_element2 {
                                display: none !important;
                            }
                        </style>
                        <select style="margin-top: 10px; margin-right: 10px;" onchange="doGTranslate(this);"><option value="">Select Language</option><option value="pt|en">English</option><option value="pt|fr">French</option><option value="pt|pt">Português</option><option value="pt|es">Spanish</option></select><div id="google_translate_element2"></div>
                        <script type="text/javascript">
                            function googleTranslateElementInit2() {new google.translate.TranslateElement({pageLanguage: 'pt',autoDisplay: false}, 'google_translate_element2');}
                        </script><script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit2"></script>
                        <script type="text/javascript">
                            /* <![CDATA[ */
                            eval(function(p,a,c,k,e,r){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--)r[e(c)]=k[c]||e(c);k=[function(e){return r[e]}];e=function(){return'\\w+'};c=1};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p}('6 7(a,b){n{4(2.9){3 c=2.9("o");c.p(b,f,f);a.q(c)}g{3 c=2.r();a.s(\'t\'+b,c)}}u(e){}}6 h(a){4(a.8)a=a.8;4(a==\'\')v;3 b=a.w(\'|\')[1];3 c;3 d=2.x(\'y\');z(3 i=0;i<d.5;i++)4(d[i].A==\'B-C-D\')c=d[i];4(2.j(\'k\')==E||2.j(\'k\').l.5==0||c.5==0||c.l.5==0){F(6(){h(a)},G)}g{c.8=b;7(c,\'m\');7(c,\'m\')}}',43,43,'||document|var|if|length|function|GTranslateFireEvent|value|createEvent||||||true|else|doGTranslate||getElementById|google_translate_element2|innerHTML|change|try|HTMLEvents|initEvent|dispatchEvent|createEventObject|fireEvent|on|catch|return|split|getElementsByTagName|select|for|className|goog|te|combo|null|setTimeout|500'.split('|'),0,{}))
                            /* ]]> */
                        </script>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Refugiado" asp-action="Index">Refugiado</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Contratante" asp-action="Index">Contratante</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Vaga" asp-action="Index">Vagas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Suporte" asp-action="Create">Contato</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Extra large modal -->
    <div class="btnModal" type="button" data-toggle="modal" data-target=".bd-example-modal-xl">Duvidas Frequêntes</div>

    <div class="container-fluid">
        <main role="main">
            @RenderBody()
        </main>
    </div>


    <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="container">
                    <h1 style="text-align: center">FAQ</h1>


                    <div class="accordion btnFaq" id="accordionExample">
                        <div class="card">
                            <div class="card-header " id="headingOne">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Quem são pessoas refugiadas?
                                </button>
                            </div>

                            <div id="collapseOne" class="collapse show text-justify" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    As pessoas refugiadas estão fora de seu país de origem devido a fundados temores de
                                    perseguição relacionados a questões de raça, religião, nacionalidade, grupo social ou
                                    opinião política. Também é considerado refugiado quem foi forçado a deixar seu país
                                    devido a conflitos armados, violência generalizada e graves violações dos direitos
                                    humanos. Todos os anos, ao redor do mundo, milhões de refugiados e um número ainda
                                    maior de pessoas deslocadas dentro de seus próprios países são forçados a abandonar
                                    tudo – suas casas, seus empregos, familiares, amigos e bens – para preservar sua vida
                                    e garantir seus direitos.
                                    Não se trata de uma escolha, mas, sim, da única opção possível. Esta é a realidade de
                                    79,5 milhões de pessoas no mundo todo.
                                    De acordo com o Comitê Nacional para Refugiados (CONARE) do Ministerio da Justica
                                    e Segurança Pública, o Brasil já reconheceu 59,045 pessoas como refugiadas
                                    (dezembro/2020). O Brasil registrou mais de 187 mil solicitações de refúgio
                                    (outubro/2020) de acordo com dados da Polícia Federal.

                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">

                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                                        aria-expanded="false" aria-controls="collapseTwo">
                                    Por que o refugiado busca o Brasil?
                                </button>

                            </div>
                            <div id="collapseTwo" class="collapse text-justify" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    O Brasil sempre teve um papel pioneiro e de liderança na proteção internacional dos
                                    refugiados. Foi o primeiro país do Cone Sul a ratificar a Convenção relativa ao Estatuto
                                    dos Refugiados de 1951, no ano de 1960.
                                    O refugiado dispõe da proteção do governo brasileiro e pode, portanto, obter
                                    documentos, trabalhar, estudar e exercer os mesmos direitos que qualquer cidadão
                                    estrangeiro legalizado no país. O Brasil é internacionalmente reconhecido como um país
                                    acolhedor. Entretanto, aqui, pessoas refugiadas também encontram dificuldades para se
                                    integrar à sociedade brasileira.

                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                                        aria-expanded="false" aria-controls="collapseThree">
                                    Refugiados/as ou solicitantes da condição de refugiado podem trabalhar
                                    regularmente e obter Carteira de trabalho e Previdência Social?
                                </button>
                            </div>
                            <div id="collapseThree" class="collapse text-justify" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    Assim como os brasileiros, os/as refugiados/as e solicitantes da condição de refugiado
                                    podem trabalhar regularmente e obter Carteira de Trabalho e Previdência Social (CTPS).
                                    Conforme a Convenção das Nações Unidas de 1951, da qual o Brasil é signatário da Lei
                                    9.474/97, que garante o acesso aos direitos trabalhistas a pessoas em condição de
                                    refúgio. Portanto, refugiados/as e solicitantes de refúgio podem obter a CTPS e trabalhar
                                    regularmente no país.

                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFour">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour"
                                        aria-expanded="false" aria-controls="collapseFour">
                                    Como saber se a situação do refugiado contratado é regular? Qual é a
                                    documentação do refugiado em situação regular no Brasil?
                                </button>
                            </div>
                            <div id="collapseFour" class="collapse text-justify" aria-labelledby="headingFour" data-parent="#accordionExample">
                                <div class="card-body">
                                    O primeiro documento de identificação que o solicitante de refúgio recebe no Brasil é o
                                    Protocolo de Solicitação de Refúgio, emitido pela Polícia Federal. Esse documento é
                                    válido em todo o território nacional e comprova que seu portador está no país em
                                    situação regular, permitindo ao solicitante de refúgio, inclusive, a expedição da CPTS. A
                                    validade inicial do Protocolo de Solicitação de Refúgio é de um ano, no entanto, o
                                    documento será renovado durante todo o período em que o solicitante aguardar a
                                    decisão do seu processo, sem qualquer prejuízo ao seu status regular no país.
                                    A decisão do processo de refúgio é de competência do Comitê Nacional para
                                    Refugiados (CONARE) do Ministério da Justiça. Assim, a decisão pelo reconhecimento
                                    como refugiado garante a emissão da Carteira de Registro Nacional Migratório (antigo
                                    Registro Nacional de Estrangeiro – RNE), que passa a ser o documento do refugiado no
                                    Brasil.

                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFive">
                                <button class="btn btn-link collapsed text-left" type="button" data-toggle="collapse" data-target="#collapseFive"
                                        aria-expanded="false" aria-controls="collapseFive">
                                    Como funciona a renovação do Protocolo de Solicitação de Refúgio? <br>Caso
                                    minha empresa receba um alerta a respeito da validade deste documento, com
                                    qual período de antecedência é necessário solicitar a renovação?
                                </button>
                            </div>
                            <div id="collapseFive" class="collapse text-justify" aria-labelledby="headingFive" data-parent="#accordionExample">
                                <div class="card-body">
                                    É de responsabilidade do solicitante de refúgio buscar a renovação de seu protocolo,
                                    assim como do refugiado reconhecido solicitar a renovação de sua Carteira de Registro
                                    Nacional Migratório perante a Polícia Federal. De modo geral, a renovação do Protocolo
                                    de Solicitação de Refúgio é solicitada com cerca de uma semana de antecedência, mas
                                    não há qualquer problema em fazê-lo antes. O empregador pode orientar o refugiado a
                                    comparecer à unidade mais próxima da Polícia Federal, devendo-se verificar a
                                    necessidade de agendamento prévio no site da instituição, e, salvo imprevistos no
                                    atendimento, no mesmo dia ele deverá ter acesso ao protocolo renovado.

                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingSix">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix"
                                        aria-expanded="false" aria-controls="collapseSix">
                                    Os refugiados e solicitantes de refúgio podem abrir contas bancárias?

                                </button>
                            </div>
                            <div id="collapseSix" class="collapse text-justify" aria-labelledby="headingSix" data-parent="#accordionExample">
                                <div class="card-body">
                                    Sim, conforme previsto pelo Decreto no 9.199, de 20 de novembro de 2017, refugiados e
                                    solicitantes de refúgio podem abrir conta bancária no Brasil. Tanto o Protocolo de
                                    Solicitação de Refúgio como a Carteira de Registro Nacional Migratório são documentos
                                    hábeis para a abertura de contas bancárias. No entanto, tendo em vista o
                                    desconhecimento dos agentes bancários em relação à legislação correspondente
                                    recomenda-se que a empresa ofereça uma carta de encaminhamento para a abertura da
                                    conta, a fim de facilitar os trâmites.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingSeven">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven"
                                        aria-expanded="false" aria-controls="collapseSeven">
                                    Os refugiados e solicitantes da condição de refugiado podem ser contratados
                                    como jovens aprendizes?
                                </button>
                            </div>
                            <div id="collapseSeven" class="collapse text-justify" aria-labelledby="headingSeven" data-parent="#accordionExample">
                                <div class="card-body">
                                    Sim. A inclusão de pessoas refugiadas em programas de jovens aprendizes é
                                    recomendada desde que observe a legislação em vigor (Art. 428 da CLT c/c Decreto
                                    9.579/2018), que estabelece que podem ser contratados como aprendizes jovens de 14
                                    a 23 anos, sendo obrigatória a frequência escolar daqueles matriculados no ensino
                                    fundamental.
                                    Para saber mais sobre este tema, clique
                                    <a href="https://56d83689-76c6-4fda-804c-f740f395bee1.usrfiles.com/ugd/56d836_49e0e11b4eb147afa5634c61ae47f248.pdf" target="blank">aqui.</a>

                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingEight">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight"
                                        aria-expanded="false" aria-controls="collapseEight">
                                    Como proceder caso a pessoa refugiada não possua documentos que
                                    comprovem a sua formação escolar/acadêmica?
                                </button>
                            </div>
                            <div id="collapseEight" class="collapse text-justify" aria-labelledby="headingEight" data-parent="#accordionExample">
                                <div class="card-body">
                                    Para obter a equivalência escolar de ensino médio, o refugiado deve ser orientado a
                                    procurar a Diretoria de Ensino de Escolas Estaduais da sua região de residência
                                    portando um documento de identificação pessoal, seus documentos escolares (pode ser
                                    exigida tradução) e comprovante de residência. No caso do ensino superior, o ACNUR
                                    possui um projeto de abrangência nacional que apoia o processo de revalidação de
                                    diplomas de graduação de pessoas refugiadas em parceria com a organização
                                    Compassiva, em São Paulo. Contato: revalidacao@compassiva.org.br; (11) 975120307.

                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingNine">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine"
                                        aria-expanded="false" aria-controls="collapseNine">
                                    Quais benefícios minha empresa terá ao contratar uma pessoa refugiada?
                                </button>
                            </div>
                            <div id="collapseNine" class="collapse text-justify" aria-labelledby="headingNine" data-parent="#accordionExample">
                                <div class="card-body">
                                    Contratar uma pessoa refugiada enriquece o ambiente de trabalho. São profissionais
                                    que frequentemente dominam mais de um idioma e possuem conhecimentos,
                                    experiências e qualificações variadas.
                                    Empresas que promovem atividades para refugiados/as relatam múltiplos benefícios,
                                    entre eles: maior engajamento de funcionários e o desenvolvimento de habilidades de
                                    liderança para os funcionários que atuam como mentores de refugiados/as. Além de
                                    trazer mais diversidade ao ambiente de trabalho, as empresas relatam que os refugiados
                                    /as contratados motivam seus colegas, demonstram alto comprometimento com suas
                                    funções e costumam ficar mais tempo em seus cargos (menores taxas de rotatividade).
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTen">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTen"
                                        aria-expanded="false" aria-controls="collapseTen">
                                    Ao contratar uma pessoa refugiada, minha empresa assume algum ônus ou
                                    encargo adicional?
                                </button>
                            </div>
                            <div id="collapseTen" class="collapse text-justify" aria-labelledby="headingTen" data-parent="#accordionExample">
                                <div class="card-body">
                                    Não. O empregador que contrata refugiados não assume nenhum ônus adicional pelo
                                    simples fato de estar contratando um refugiado.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header " id="headingEleven">
                                <button class="btn btn-link collapsed text-left" type="button" data-toggle="collapse" data-target="#collapseEleven"
                                        aria-expanded="false" aria-controls="collapseEleven">
                                    Para enviar ao eSocial a admissão de um trabalhador estrangeiro refugiado
                                    preciso de informações relacionadas ao seu Registro Nacional Migratório,
                                    Documento Provisório de Registro Nacional Migratório ou do Protocolo de
                                    Pedido de Refúgio de que trata o art. 21, §1º da Lei nº 9.474/97?
                                </button>
                            </div>
                            <div id="collapseEleven" class="collapse text-justify" aria-labelledby="headingEleven" data-parent="#accordionExample">
                                <div class="card-body">
                                    Não. Os únicos documentos requeridos pelo leiaute do eSocial para admissão de
                                    empregados ou para contratação de trabalhadores sem vínculo (autônomos em geral,
                                    por exemplo) são o CPF e o NIS (PIS, Pasep ou NIT), isso vale para qualquer
                                    trabalhador, seja nacional ou estrangeiro. Vale destacar que, na próxima versão do
                                    eSocial, prevista para 19/07/2021, o único documento exigido será o CPF.
                                    Para mais informações acesse: <a href="https://portal.esocial.gov.br/institucional/ambiente-de-producao-empresas/perguntas-freq
                uentes-producao-empresas-e-producao-restrita
                ">
                                        https://portal.esocial.gov.br/institucional/ambiente-de-producao-empresas/perguntas-freq
                                        uentes-producao-empresas-e-producao-restrita
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwelve">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwelve"
                                        aria-expanded="false" aria-controls="collapseTwelve">
                                    Como contratar pessoas refugiadas para um serviço temporário no contexto da
                                    COVID-19?
                                </button>
                            </div>
                            <div id="collapseTwelve" class="collapse text-justify" aria-labelledby="headingTwelve" data-parent="#accordionExample">
                                <div class="card-body">
                                    Com o objetivo de conscientizar empregadores sobre a importância de garantir o acesso
                                    ao mercado de trabalho a refugiados e migrantes, o Ministério Público do Trabalho
                                    (MPT) divulgou uma nota técnica para estimular a contratação desses trabalhadores. Na
                                    nota, o MPT orienta empresários a adotar o art. 17 da Lei 6.019/74, que regula o
                                    trabalho temporário em empresas urbanas, e que estabelece o seguinte em relação a
                                    estrangeiros: “É defeso às empresas de prestação de serviço temporário a contratação
                                    de estrangeiros com visto provisório de permanência no País”. O documento também
                                    orienta empresários a buscar informações junto a órgãos como o Ministério da Economia
                                    e as Secretarias Estaduais e Municipais de Trabalho sobre os direitos tanto de
                                    refugiados já reconhecidos quanto os solicitantes de refúgio.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThirteen">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThirteen"
                                        aria-expanded="false" aria-controls="collapseThirteen">
                                    Cursos gratuitos, onde encontrar?
                                </button>
                            </div>
                            <div id="collapseThirteen" class="collapse text-justify" aria-labelledby="headingThirteen" data-parent="#accordionExample">
                                <div class="card-body">
                                    <label>Segue abaixo alguns links de cursos gratuitos:</label>
                                    <li><a href="https://www.cursoemvideo.com/" target="_blank">Curso em Vídeo</a> </li>
                                    <li><a href="https://pt.coursera.org/" target="_blank">Coursera</a></li>
                                    <li><a href="https://recodepro.org.br/" target="_blank">Recode Pro</a></li>
                                    <li><a href="https://recode.org.br/" target="_blank">Recode</a></li>
                                    <li><a href="https://www.sebrae.com.br/sites/PortalSebrae/cursosonline" target="_blank">Sebrae</a></li>
                                    <li><a href="https://recode.org.br/" target="_blank">Via Rápida</a></li>
                                    <li><a href="https://www.ev.org.br/" target="_blank">Fundação Bradesco</a></li>
                                    <li><a href="https://cubos.academy" target="_blank">Cubos Academy</a></li>
                                    <li><a href="https://educacao-executiva.fgv.br/cursos/gratuitos" target="_blank">FGV OnLine</a></li>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="m-0">

        <footer class="bg-dark text-center text-lg-start">
            <!-- Grid container -->
            <div class="container pt-3">
                <!--Grid row-->
                <div class="row mt-4">
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <img id="fot-logo" src="~/assets/img/logos/logo-small.png" class="w-100 img-fluid img-thumbnail" alt="logo for Refuguees">
                        <p class="fot-paragrafo text-center">A 4Refugees nasceu da necessidade de criar uma aplicação que impacte verdadeiramente e de forma eficiênte a vida dos refugiados em relação ao mercado de trabalho</p>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Redes Sociais</h5>

                        <div id="fot-redeSociais">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#!"><i class="bi bi-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="#!" class=""><i class="bi bi-linkedin"></i></a>
                                </li>
                                <li>
                                    <a href="#!" class=""><i class="bi bi-whatsapp"></i></a>
                                </li>
                                <li>
                                    <a href="#!" class=""><i class="bi bi-facebook"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Links</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="#moveTo-home" class="">Home</a>
                            </li>
                            <li>
                                <a href="#moveTo-servicos" class="">Nossos Serviços</a>
                            </li>
                            <li>
                                <a href="#moveTo-sobre" class="">Sobre</a>
                            </li>
                            <li>
                                <a asp-area="" asp-controller="Suporte" asp-action="Create" class="">Contato</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Endereço</h5>

                        <p class="text-center fot-paragrafo">
                            Rua a, 49
                            São Paulo, SP
                            CEP: 2332-345
                        </p>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </div>
            <!-- Grid container -->
            <!-- Copyright -->
            <div class="text-center text-white p-3">
                © 2021 Copyright: Desenvolvido por Squad29 - Todos os Direitos Reservados
            </div>
            <!-- Copyright -->
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="~/assets/slick-1.8.1/slick/slick.min.js"></script>
    <script src="~/assets/slick-1.8.1/slick/slick.js"></script>
    <script src="~/assets/js/slick.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.js"></script>
    <script>
        AOS.init();
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
